button, .btn {
  align-self: center;

  margin: 8px;
  padding: 12px 14px;

  cursor: pointer;
  transition: 0.2s ease-in-out;
  letter-spacing: 0.08em;

  border-style: none;
	border-radius: 3px;
	background-color: #ffffff;
	background-size: 20px 20px;
	background-image : repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 1px, transparent 15px), repeating-linear-gradient(-45deg, rgba(255, 105, 180, .5), rgba(255, 105, 180, .5) 1px, transparent 1px, transparent 15px);
  box-shadow: 0 0px 6px 0 hsla(0,0,0,0.3);

	font-size: 14px;
	font-weight: 600;
	text-shadow: 0 0px 6px 0 hsla(0, 0, 0, 0.3);
  color: hsla(0,0,0,0.7);

  &:hover {
    box-shadow: 0 4px 10px 0 hsla(0,0,0,0.3);
    transform: translateY(-1px);
  }
  &:focus {
    outline: none;
	}
	&[disabled="true"] {
		color: hsla(0, 0, 0, 0.4);
		box-shadow: 0 0px 0px 0 hsla(0, 0, 0, 0);
	}
}
