
.page-enter-active {
	transition: transform 0.5s ease-out;
}
.page-leave-active {
	transition: transform 0.5s ease-in;
}

.page-enter {
	transform: translate(-100vw, 0);
}

.page-leave-to {
	transform: translate(100vw, 0);
}
